@import '../../themes.scss';
@import '../../colors.scss';

.mainReviewsContainer {
    margin: 60px auto;
    border: $blackText solid 3px;
    .reviewsTitleContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        background: $blackText;
        color: white;
    }
}

.reviewLoginMessageContainer {
    display: flex;
    margin: 50px 0 0 0;
    justify-content: center;
    .reviewLoginMessage {
        font-size: 20px;
        font-weight: bold;

    }
}

.reviewContainer {

    .reviewFormContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .reviewForm {

            .reviewTitleContainer {
                margin: 30px 0 10px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;

                & input {
                    border: .5px solid $blackText;
                }

            }

            .reviewRatingContainer {
                margin: 10px 0;

                .selectContainer {
                    margin: 10px 0;
                    border: 1px solid $blackText;
                    width: 110px;
                    height: 33px;
                    overflow: hidden;
                    .rating {
                        cursor: pointer;
                        margin:4px;
                        height: 25px;
                        background: white;
                        padding: 5px 8px;
                        border: none;
                        box-shadow: none;
                        background: transparent;
                        background-image: none;
                    }
                }
            }

            
            .reviewLabel {
                font-size: 18px;
            }

        }
        
        .reviewSubmitButtonContainer {
            
            .submitButton {
                @include btn-design(inherit);
            }
        }
        
        .reviewLabel {
            
        }
    }
    
    .leftReviewsContainer {
        margin: 30px 0 20px 0;
    }
}
.reviewBodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .reviewInput {
        margin: 10px 0;
        width: 250px;
        height: 100px;
        border: .5px solid $blackText;
        
    }
}
.photoContainer {
    display: flex;
    text-align: center;
    line-height: 40px;
    .dropZone {
        position: relative;
        width: 250px;
        height: 100px;
        border-width: 5px;
        border-color: rgba(26, 26, 26, 0.664);
        border-style: double;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            border-color: rgba(255, 0, 0, 0.5);
        }
    }
}