@import "../../colors.scss";

.weatherInfoBox {
  width: 60vw;
  display: inline-table;
  border: black solid 2px;
  max-width: 100px;
  // border-radius: 25%;
  margin: 5px;
  #weatherTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px 0 2px 0;
  }
  .dropdownContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    #weatherText {
      font-size: 12px;
      margin: 0 0 4px 0;
    }
  }
}

.weatherMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h3 {
    background: $blackText;
    color: white;
    text-align: center;
    padding: 4px 0;
    font-size: 18px;
  }
  .mappedDayBox {
    margin: 10px 10px;
  }
}

.weatherTableContainer {
  margin: 0px;
  width: 100%;
  padding: 0;
}
