
// .backDropStyle {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0px;
//     left: 0px;
//     z-index: 9998;
//     background: rgba(0, 0, 0, 0.3);
//     .modalStyle {
//         top: 0;
//         left: 100%;
//         transform: translate(-50%, -50%);
//         z-index: 9999;
//         background: #fff;
//       }
// }

.modalContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 500px;
    left: 0px;
    z-index: 9998;

}