@import '../../colors.scss';

.trailViewContainer {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;


    .trailViewImageContainer {
        justify-content: center;
        width: 500px;
        height: 500px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
        

        // @media( max-width: 800px){
        //     width: 100vw;
        // }

        .trailViewImage {
            // width: 90%;
            // height: 100%;
            margin: 0 auto;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            min-height: 100%;
            min-width: 100%;
            transform: translate(-50%, -50%);

        @media( max-width: 800px){
            width: 100vw;


        }
        }
    }

    .trailViewInfo {
        width: 90vw;
        height: 25%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-decoration: none;
        color: $blackText;


        @media( max-width: 650px){
            width: 100vw;
        }
        .trailViewNameContainer {
            margin: 35px;


        @media( max-width: 650px){
            width: 100vw;
        }
            .trailViewName {
                font-size: 45px;
                margin-bottom: 15px;

                @media( max-width: 650px){
                    font-size: 32px;
                }
            }
            .trailDifficulty {
                text-transform: capitalize;
                margin: 6px 0 5px 0;
                #trailRatingQ {
                    text-align: center;
                    font-size: 13px;
                    margin-left: 2px;
                    color: $coloradoRed;
    
                    .trailRatingContainer {
                        display: none;
                        position: absolute;
                        z-index: 15;
                        background: white;
                        border-radius: 5px;
                        border: solid black 1px
                        // left: auto;
                        // top: auto;
                    }
                }
            }
            #trailRatingQ:hover .trailRatingContainer {
                display: flex;
                // transition: ease-in 1s;
            }
            
            .trailsViewButtonCluster {
                display: flex;
                
                & > button {
                    cursor: pointer;
                    margin: 5px;
                    height: 25px;
                    background: white;
                    border: .5px solid black;
                }
                
                & :hover {
                    background: $coloradoRed;
                    color: white;
                }
            }
        }
        
        .trailViewLocationContainer {
            margin: 25px 35px;

            .trailViewLocation {
                font-size: 20px;
                padding-top: 8px;
                @media( max-width: 650px){
                    font-size: 17px;
                }
            }
        }

        .trailViewSummaryContainer {
            margin: 25px 35px;

            .trailViewSummary {
                font-size: 20px;
                padding-top: 8px;
                @media( max-width: 650px){
                    font-size: 17px;
                }
            }
            .trailSummarySubContainer {
                margin: 10px 0;
                .trailLength {
                    margin-top: 5px;
                }

            }
            #addSummaryButton {
                & > button {
                    cursor: pointer;
                    margin: 5px;
                    height: 25px;
                    background: white;
                    border: .5px solid black;
                }
                
                & :hover {
                    background: $coloradoRed;
                    color: white;
                }
            }
        }

        label {
            font-size: 30px;
            font-weight: 800;
            

            @media( max-width: 650px){
                font-size: 20px;
            }
        }
    }

    #trailLabelFix {
        font-size: 18px;
    }

}