@import '../../colors.scss';

.gridwallContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;


    .gridwallSubContainer {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        display: flex;
        width: 80vw;
        height: 100%;
        margin: 20px;


        @media( max-width: 900px){
            width: 100vw;
            margin: 0
        }

        .gridwallHeaderContainer {
            position: relative;
            display: flex;
            font-weight: 700;
            font-style: normal;
            font-size: 35px;
            letter-spacing: .18em;
            line-height: 1em;
            text-transform: uppercase;
            margin: 50px;
            line-height: 25px;
            text-align: center;
            align-content: center;
            justify-content: center;
            width: 100%;
            height: 50%;
            flex-direction: column;

            .titleImageContainer {
                position: relative;
                max-width: 100%;
                max-height: 75%;
                .titleImage {
                    width: 100%;
                    height: 45%;

                    @media( max-width: 900px){
                        width: 100vw;
                    }

                }
            }

            .gridwallTitleContainer {
                display: flex;
                position: absolute;
                z-index: 5;
                flex-direction: row;
                top: 80px;
                right: 0px;
                .gridWallTitle {
                    color: white;
                    font-size: 3em;
                    text-shadow: .25px .25px .25px black;

                    @media( max-width: 1250px){
                        font-size: 2.5em;

                        @media( max-width: 1100px){
                            font-size: 2em;   

                            @media( max-width: 650px){
                                font-size: 1.5em;   
                            }
                        }
                    }
                }
            }
        }
    }

    .paginationContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .pagination {
            display: flex;

            & li, a {
                margin: 10px;
                text-decoration: none;
                color: $blackText;
            }
        }

    }
}
