@import '../../themes.scss';

.errorMessageContainer {
    @include main-container(0);
    min-height: 100vh;
    .errorMessageSubContainer {
        width: 80vw;
        min-height: 100%;
        height: 100vh;
      .errorMessage {
        font-size: 30px;
        margin: 50px auto;
        & a {
            text-decoration: underline;
            color: inherit;
        }

      }  
    }
}