.appContainer {
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'Fjalla One', sans-serif;
  position: relative;

  body {
    min-height: 100%;
    // height: 100vh;
    padding-bottom: 100px;
  }


}
* {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}