.spinner {
    position: absolute;
    left: 40%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    z-index: 15;
}

.spinner-sector {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 15px solid transparent;
    mix-blend-mode: overlay;
}

.spinner-text {
    animation: loading-opacity 3s ease-in-out infinite;
    font-size: 2em;
}

.spinner-sector-blue {
    animation: rotate 2s ease-out infinite;
    border-top: 15px solid lightgreen;
}

.spinner-sector-red {
    animation: rotate 2.5s ease-in infinite;
    border-top: 15px solid darkgrey;
}

.spinner-sector-green {
    animation: rotate 1.5s ease-in-out infinite;
    border-top: 15px solid green;
}

@keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

@keyframes loading-opacity {
    0%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: .5;
    }
    50% {
        opacity: .1;
    }
}






